<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="referrer" content="same-origin"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0"/>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"/>
    <title><%= project.display_name %></title>
    <link href="./<%= css_dir %>/tailwind.css" rel="stylesheet">
    <style>
      p.pagetitle {
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
      }
    </style>
    <script type="module">
      import { createSearch } from '/js/search.js';
      document.addEventListener('alpine:init', () => Alpine.data('searchComponent', createSearch));
    </script>
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.14.8/dist/cdn.min.js" defer></script>
  </head>
  <body class="bg-gray-100 p-4">
    <div class="max-w-screen-xl mx-auto" x-data="searchComponent">
      <div class="flex flex-col sm:flex-row sm:items-center sm:justify-between my-4">
        <h1 class="text-2xl font-extralight">
          <%= project.display_name %> <span class="text-gray-400">(all pages)</span>
        </h1>
        <form action="/" method="GET" class="mt-2 sm:mt-0 w-full sm:w-[32rem] relative">
          <div class="flex">
            <input
              id="searchInput"
              type="text"
              placeholder="Search..."
              x-model="query"
              @input="search"
              @keydown.escape="clearResults"
              @click="restoreResults"
              class="flex-grow px-4 py-2 border rounded-l-md shadow-sm focus:outline-none focus:ring focus:ring-blue-300"
            />
            <button
              type="submit"
              class="px-4 flex items-center justify-center bg-blue-500 text-white rounded-r-md hover:bg-blue-600 focus:outline-none focus:ring focus:ring-blue-300"
            >
              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 24 24" fill="none" stroke="currentColor">
                <path d="M18.031 16.6168L22.3137 20.8995L20.8995 22.3137L16.6168 18.031C15.0769 19.263 13.124 20 11 20C6.032 20 2 15.968 2 11C2 6.032 6.032 2 11 2C15.968 2 20 6.032 20 11C20 13.124 19.263 15.0769 18.031 16.6168ZM16.0247 15.8748C17.2475 14.6146 18 12.8956 18 11C18 7.1325 14.8675 4 11 4C7.1325 4 4 7.1325 4 11C4 14.8675 7.1325 18 11 18C12.8956 18 14.6146 17.2475 15.8748 16.0247L16.0247 15.8748Z"></path>
              </svg>
            </button>
          </div>
          <ul id="resultsList" class="absolute bg-white shadow-md mt-2 w-full rounded-md z-10" x-show="results.length > 0" @click.away="results = []">
            <template x-for="result in results" :key="result.item.link">
              <li class="px-4 py-2 hover:bg-gray-100 cursor-pointer">
                <a :href="result.item.link" class="block">
                  <span class="block text-sm font-medium text-ellipsis whitespace-nowrap overflow-hidden" x-text="result.item.title.slice(0, 50)"></span>
                  <p class="text-xs text-gray-500 text-ellipsis whitespace-nowrap overflow-hidden" x-text="result.item.summary.slice(0, 50)"></p>
                </a>
              </li>
            </template>
          </ul>
        </form>
      </div>

      <div class="flex flex-wrap gap-3">
        <% project.sorted_pages_for_top.each do |page|%>
        <div class="bg-white shadow-md rounded-md aspect-square flex items-start justify-center p-2 overflow-hidden hover:bg-gray-200 border-t-4 border-gray-300 basis-[148px] max-w-[148px]">
          <div class="break-words text-xs w-full">
            <a href="<%= page.link_path %>" class="block ">
              <p class="pagetitle font-bold overflow-hidden"><%= page.title %></p>
              <p class="inline text-xs leading-relaxed text-gray-500 overflow-hidden"><%== page.summary %></p>
            </a>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </body>
</html>
